/* Parametres generaux */
@font-face{
    font-family: 'alata';
    src:url('font/Alata-Regular.ttf');  
}
@font-face{
    font-family: 'josephin';
    src:url('font/JosefinSans-Regular.ttf');  
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, nav{
    display: flex;
    list-style: none;
}

body{
    font-family: 'josephin';
    width: 1440px;
    margin: auto;
}

/* Fin parametres generaux */

/* Header */
.main-header{
    color:white;
    background-image: url(images/desktop/image-hero.jpg);
    padding-bottom: 3rem;
}

.bannier{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.logo{
    margin-left: 6rem;
}

.nav-header{
    margin-right: 6rem;
}

.ul, li{
    font-family: 'josephin';
    cursor: pointer;
    padding: 1rem;
}

h1{
    font-size: 5em;
    font-weight: lighter;
    border: white 1px solid;
    margin-top: 2rem;
    margin-left: 6rem;
    margin-bottom: 5rem;
    padding: 1.5rem;
    width: 55%;
}
/* Fin header */

/* Section leader */
.leader{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: 8rem;
}

.image-interactive, .leader-div{
    width: 60%;
}

.image-interactive{
    z-index: 0;
}

.leader-div{
    background-color: white;
    margin-top: 10rem;
    margin-left: -10rem;
    padding: 5rem;
    z-index: 10;
}

.leader-title{
    font-weight: lighter;
    font-size: 3rem;
    margin-bottom: 1rem;
}
/* Fin Section leader */

/* Section creations */
.creations-div{
    width: 90%;
    margin: auto;
    margin-top: 8rem;
}

.creations-header{
    display: flex;
    justify-content: space-between;
}

.creations-title{
    font-size: 3rem;
    font-weight: lighter;
}

.see-all{
    padding: 1rem 2rem;
    border: black 1px solid;
}

.gallery{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
}

.gallery-article{
    display: flex;
    align-items: flex-end;
    height: 450px;
}

.gallery-title{
    color: white;
    font-weight: lighter;
    font-size: 2rem;
    padding: 2rem;
}

.deep{
    background-image: url(images/desktop/image-deep-earth.jpg);
    background-position: center;
    background-size: cover;
}

.night{
    background-image: url(images/desktop/image-night-arcade.jpg);
    background-position: center;
    background-size: cover;
}

.soccer{
    background-image: url(images/desktop/image-soccer-team.jpg);
    background-position: center;
    background-size: cover;
}

.grid{
    background-image: url(images/desktop/image-grid.jpg);
    background-position: center;
    background-size: cover;
}

.from-above{
    background-image: url(images/desktop/image-from-above.jpg);
    background-position: center;
    background-size: cover;
}

.pocket{
    background-image: url(images/desktop/image-pocket-borealis.jpg);
    background-position: center;
    background-size: cover;
}

.curiosity{
    background-image: url(images/desktop/image-curiosity.jpg);
    background-position: center;
    background-size: cover;
}

.fisheye{
    background-image: url(images/desktop/image-fisheye.jpg);
    background-position: center;
    background-size: cover;
}
/* Fin Section creations */

