/* parametres generaux */
@font-face{
    font-family: 'alata';
    src:url('font/Alata-Regular.ttf');  
}
@font-face{
    font-family: 'josephin';
    src:url('font/JosefinSans-Regular.ttf');  
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, nav{
    display: flex;
    list-style: none;
}

body{
    font-family: 'josephin';
    width: 1440px;
    margin: auto;
}

/* fin parametres generaux */

/* Header */
header{
    color:white;
    background-image: url(images/desktop/image-hero.jpg);
    padding-bottom: 3rem;
}

.bannier{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.logo{
    margin-left: 6rem;
}

.nav-header{
    margin-right: 6rem;
}

.ul, li{
    font-family: 'josephin';
    cursor: pointer;
    padding: 1rem;
}

h1{
    font-size: 5em;
    font-weight: lighter;
    border: white 1px solid;
    margin-top: 2rem;
    margin-left: 6rem;
    margin-bottom: 5rem;
    padding: 1.5rem;
    width: 55%;
}
/* Fin Header */

/* Section Leader */
.leader{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.image-interactive, .leader-div{
    width: 40%;
}

.image-interactive{
    z-index: 0;
}

.leader-div{
    background-color: white;
    margin-top: 7rem;
    margin-left: -8rem;
    padding: 4rem;
    z-index: 10;
}

.leader-title{
    font-weight: lighter;
    font-size: 3rem;
    margin-bottom: 1rem;
}
