/* Parametres generaux */
@font-face{
    font-family: 'alata';
    src:url('font/Alata-Regular.ttf');  
}
@font-face{
    font-family: 'josephin';
    src:url('font/JosefinSans-Regular.ttf');  
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, nav{
    display: flex;
    list-style: none;
}

body{
    font-family: 'josephin';
    width: 1440px;
    margin: auto;
}

/* Fin parametres generaux */

/* Header */
.main-header{
    color:white;
    background-image: url(images/desktop/image-hero.jpg);
    padding-bottom: 3rem;
}

.bannier{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    align-items: center;
}

.logo{
    margin-left: 3rem;
    height: 3rem;
}

.nav-header{
    margin-right: 6rem;
}

.ul, li{
    font-family: 'josephin';
    cursor: pointer;
    padding: 1rem;
}

h1{
    font-size: 5em;
    font-weight: lighter;
    border: white 1px solid;
    margin-top: 2rem;
    margin-left: 6rem;
    margin-bottom: 5rem;
    padding: 1.5rem;
    width: 55%;
}
/* Fin header */

/* Section leader */
.leader{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-top: 8rem;
}

.image-interactive, .leader-div{
    width: 60%;
}

.image-interactive{
    z-index: 0;
}

.leader-div{
    background-color: white;
    margin-top: 10rem;
    margin-left: -10rem;
    padding: 5rem;
    z-index: 10;
}

.leader-title{
    font-weight: lighter;
    font-size: 3rem;
    margin-bottom: 1rem;
}
/* Fin Section leader */

/* Section creations */
.creations-div{
    width: 90%;
    margin: auto;
    margin-top: 8rem;
}

.creations-header{
    display: flex;
    justify-content: space-between;
}

.creations-title{
    font-size: 3rem;
    font-weight: lighter;
}

.see-all{
    padding: 1rem 2rem;
    border: black 1px solid;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.gallery{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3rem;
}

.gallery-article{
    cursor: pointer;
    color: white;
    display: flex;
    align-items: flex-end;
    height: 450px;
    transition: 0.3s ease-in-out;
}

.gallery-title{
    font-weight: lighter;
    font-size: 2rem;
    padding: 2rem;
}

.deep{
    position: relative;
}

.deep-article::before{
    content: "";
    background-image: url(images/desktop/image-deep-earth.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s ease-in-out;
}

.night{
    position: relative;
}

.night-article::before{
    content: "";
    background-image: url(images/desktop/image-night-arcade.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s ease-in-out;
}

.soccer{
    position: relative;
}

.soccer-article::before{
    content: "";
    background-image: url(images/desktop/image-soccer-team.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s ease-in-out;
}

.grid{
    position: relative;
}

.grid-article::before{
    content: "";
    background-image: url(images/desktop/image-grid.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s ease-in-out;
}

.from-above{
    position: relative;
}

.from-above-article::before{
    content: "";
    background-image: url(images/desktop/image-from-above.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s ease-in-out;
}

.pocket{
    position: relative;
}

.pocket-article::before{
    content: "";
    background-image: url(images/desktop/image-pocket-borealis.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s ease-in-out;
}

.curiosity{
    position: relative;
}

.curiosity-article::before{
    content: "";
    background-image: url(images/desktop/image-curiosity.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s ease-in-out;
}

.fisheye{
    position: relative;
}

.fisheye-article::before{
    content: "";
    background-image: url(images/desktop/image-fisheye.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.3s ease-in-out;
}
/* Fin Section creations */

/* Footer */
footer{
    margin-top: 10rem;
    background-color: black;
    color: white;
}

.logo-emotes{
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 5%;
}

.emote-footer{
    display: flex;
    align-items: center;
}

.social-emote{
    cursor: pointer;
    padding: 0.7rem;
    height: 50px;
}

.nav-copyrights{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5%;
}

.li-about{
    padding-left: 0;
}

.front-end-mentor{
    text-align: center;
}
/* Fin Footer */

/* Animations */
li::after{
    display: block;
    content: "";
    height: 1px;
    background: white;
    transform: scale(0);
    transition: 0.4s ease-in-out;
}

li:hover::after{
    transform: scale(1);
}

.see-all:hover{
    background-color: black;
    color: white;
}

/*.gallery-article::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s ease-in-out;
    opacity: 0.2;
}*/

.gallery-article:hover::before{
    opacity: 0.3;
}
.gallery-article:hover{
    color: black;
}

.social-emote::after{
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background: white;
    transition: 0.4s ease-in-out;
}

.social-emote:hover::after{
    width: 100%;
} 